@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/OpenSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Orbitron';
  src: url('/fonts/Orbitron-Bold.ttf') format('truetype');
  font-weight: 500;
  font-style: bold;
}



body {
  color: white;
}

#root {
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

header {
  width: 100vw;
}

html, body {
  width: 100%;
  margin: 0;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  text-align: center;

}
